/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*No.4 Font Body*/
body {
	font-family: "Open sans", sans-serif;
}


/*No.5 Nav sexction*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	display: inline;
	padding: 10px;
	top: 10px;
	

}

nav {
	position: sticky;
	top: 0px;
	background-color: white;
}


.right-nav {
	display: inline;
	font-weight: bold;
	float: right;
}

/*No.6 Button Styling*/
.tuitt-button {
	background-color: #c2195b;
	color: white;
	border-radius: 25px;
	padding: 1em;
}

/*No.7 Background image*/
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 15vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: scroll;
}

/*No.8 front-bg*/
.front-bg {
	color: white;
	text-align: right;
	opacity: 1;
	padding: 50;
	margin-left: 50vw;

}

.subtitle {
	font-size: 18px;
	padding: 10px;
	padding-left: 100px;
	font-family: "Zilla Slab";
}

/*No.9 Zilla slab*/
.title, .title-2 {
	
	font-size: 2.5em;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	border-radius: 25px;
	padding: 0.5rem;
	width: 10em;
	font-weight: bold;
}

.intro, .pre-footer {
	text-align: center;
	padding: 5rem;
}

.intro-description {
	padding: 5rem;
	text-align: justify;
}

/*No.10 background footer*/
.pre-footer {
	background-color: #f7fbfb;
}

/*No.11 background button*/
.book-button {
	background-color: #336589;
	color: white;
	border-radius: 25px;
	padding: 0.5rem;
	margin: 1rem;
	width: 10em;
	font-weight: bold;
}

/*No.12 footer*/
footer {
	text-align: center;
}